# Local Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Lambda build artifacts
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
